// Grid settings
$main-sm-columns:       12;
$sidebar-sm-columns:    4;

// Colors
$brand-primary:         #000;
//$brand-secondary:		some green

// Fonts

@import url(https://fonts.googleapis.com/css?family=Anton|Fjalla+One|Raleway);


// Font Variables
$Anton: 'Anton';
$FjallaOne: 'Fjalla One';
$Open-sans: 'Open Sans', sans-serif;
$ProximaNova: 'Proxima Nova';



