footer{
	height: 0px;
    background: #000;
    padding: 18px 25px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer p{
    color: #fff;
    font-size: 13px;
    line-height: 0;
	text-transform: uppercase;
	font-family: $Anton;
	text-align: left;
}

.copy-green{
	color: #485c5b;
}

