header{
    height: 37px;
    display: block;
    pointer-events: all;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.navbar{
  padding: .1rem 1rem;
}

.navbar-brand {
    padding: 0!important;
}

.navbar-brand img{
    width: 120px;
}

// Update the hover underline color
.hvr-underline-reveal:before {
    background: #485C5B!important;
}

ul#menu-primary-menu li {
    font-family: 'helveticaneuecondensedblack';
    text-transform: uppercase;
    font-size:15px;
    // padding-left:3px;
    // padding-right: 3px;
}
.menu-primary-menu-container{
    display: flex;
    justify-content: center;
}


.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
    color: #485c5b;
}

@media(max-width:768px){
    ul#menu-primary-menu li{
        font-size:47px;
        text-align:center;
    }
}

//push header down when logged in
.admin-bar .fixed-top { 
    top:46px;
     @media screen and (min-width:782px) { 
        top:32px; 
    } 
}

@media(max-width: 480px){
   
    .container-fluid{
        padding:0   
    }

    .navbar-brand {
        position: absolute;
        left: 1em;
}

    .collapse{
        background:#485c5b;
        width: 100%;
        height: 100vh;
        position: absolute;
        z-index: -1;
    }
    .navbar-light .navbar-nav .nav-link {
    color: rgba(255,255,255,1);
}

    .navbar{
        padding: 0;
    }

    .navbar-light .navbar-nav .nav-link:hover {
    color: #000;
}

.navbar-light .navbar-nav .nav-link {
    text-shadow: none;
}

.menu-primary-menu-container {
    height: 82vh;
    align-items: center;
    }

    .navbar-nav{
        width: 100%;
    }
}

/* sticky nav header */
.header.sticky-nav--visible {
    opacity: 1;
    top: -100;
}

.header.sticky-nav {
    opacity: 0;
    position: fixed;
    top: -200px;
}
